
<h1>Contacts Page</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>emailAddress</th>
      <th>textMsg</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |contact|}}
    <tr>
      <td>{{contact.emailAddress}}</td>
      <td>
      {{contact.textMsg}}
      <button {{action 'deleteContact' contact}} class="btn btn-danger btn-xs pull-right">delete</button>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>

{{outlet}}
